.wrap-profile-privacy {
    margin-top: -7%;
    background-color: white;
    position: relative;
    z-index: 5;
    margin-bottom: 2%;
    padding-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header-img {
    width: 100%;
}

.wrap-avartar-profile-P {
    padding: 8%;
    border: 1px solid #DDDDDD;
    margin-top: 15%;
    background-color: white;
}

.avartar-profile-P {
    width: 100%;
}

.wrap-cate-profile-P {
    padding: 0;
}
.cate-profile-P {
    list-style-type: none;
    padding: 5% 0 5% 10%;
    font-size: 20px;
    border: 1px solid #DDDDDD;
}

.cate-profile-P > a {
    color: black;
    transition: 0.5s;
}

.cate-profile-P > a:hover {
    text-decoration: none;
    color: #1D84B5;
}

.privacy-option-P {
    display: flex;
    
}

.privacy-option-content-P {
    display: flex;
    flex: 1;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    padding: 1px 0;
    cursor: pointer;
}

@media (max-width: 990px) {
    .cate-profile-P {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .wrap-cate-profile-P {
        display: flex;
    }
    
    .cate-profile-P {
        text-align: center;
        font-size: 15x;
        padding-left: 0px;
        flex: 1;
        width: 25%;
        position: relative;
        top: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}