.register_title{ 
	padding: 5% 0 1% 5%;
	font-weight: bold;
	width: 100%; 
}
.wrap-register{

}
.registerform{
	padding: 5% 5% 15% 5%;
	width: 100%; 
}
.register_text{
	width: 92%; 
} 
.thisform{
	width: 100%; 
} 
.imageicon{
	width: 5%; height: 25px;
	background-size: 100% 100%;
}
.hidden_alert {color: red;visibility: hidden; text-align: left;width: 100%; }
.term {
	color: #f45b53;
}
.term:hover {
	color: #e23b3b;
	 text-decoration-line: underline;
	 cursor:pointer;
} 
#agree:hover{
	cursor:pointer;
}
#term_content{
	width: 100%;  
    border-style:dashed;
    padding: 1.5% 1.5% 1.5% 1.5%;
    color: grey;
   	display: none;
}
#agreeform{
	width: 100%;  
} 
#submitbutton{
	border-radius: 10px; 
	background-color: #f4613a;
	border: none;
	height: 35px;
	width: 100%;
	color: white;
}
#submitbutton:hover{
	cursor: pointer;
	padding-top: 10px;
	background-color: #f9a690;
}
.contact_us{
	background-color: white; 
	margin: 10% 15% 10% 15%;
	padding:6% 6% 6% 6%;
	width: 90%; 
	color: grey;
	border-style: solid;
	border-color: #a6a7a8; 
	box-sizing: border-box;
}
.title_contact{
	font-style: bold; 
	text-decoration-line: underline; 
}
#decoration{
	background-color: white; 
	margin: 0 15% 10% 15%;
	width: 90%; 
	overflow: hidden;
}
#decoration img {width: 100%;height: 100%;float: left;display: block; animation-name: deco_content;animation-duration: 0.2s;}
	@keyframes deco_content
	{
		0% {opacity: 0.4}
		100% {opacity: 1}
	}
@media (min-width: 991px) {
	.register_title > h2{
        font-size: 35px; 
    }
    .hidden_alert{
    	font-size: 16px;
    }
    .term {
		font-size: 20px;
	}
	#term_content{
		font-size: 18px;
		border-width:4px;  
	}
	#submitbutton{
		font-size: 18px;
	}
	.contact_us{
		font-size: 20px;
		border-width: 1.3px;
		height: 300px; 
	}
	#decoration{
		height: 350px;
	}
}
@media (max-width: 990px) {
	.register_title > h2{
        font-size: 30px; 
    }
    .hidden_alert{
    	font-size: 14px;
    }
    .term {
		font-size: 18px;
	}
	#term_content{
		font-size: 16px;
		border-width:3px;  
	}
	#submitbutton{
		font-size: 16px;
	}
	.contact_us{
		font-size: 18px;
		border-width: 1px;
		height: 330px; 
	}
	#decoration{
		height: 200px;
	}
}
@media (max-width: 768px) { 
	.register_title > h2{
        font-size: 25px; 
    }
    .hidden_alert{
    	font-size: 12px;
    }
    .term {
		font-size: 16px;
	}
	#term_content{
		font-size: 14px;
		border-width:2px;  
	}
	#submitbutton{
		font-size: 14px;
	}
	.contact_us{
		font-size: 17px;
		border-width: 0.5px;
		height: 330px; 
	}
	#decoration{
		height: 360px;
	}
}