// MIXIN CODE
mixin card(val)
  //item-card
  - var src = "images/post-news-img" + val + ".jpg"
  .col-xl-3.col-md-4.col-xs-12.col-sm-6.card-news-post
    .card-inner
      footer
        .img-header
          img.img-fluid(src=src alt="Forum Image")
      .body-card-wrapper.my-4
        .article-section.text-left.px-3
          a.date March 8,2018
          h4.forum-catogy.text-truncate(style="max-width: 100%") What will a Marks wil be like
      .news-info.d-flex.justify-content-between.p-3
          div
            a.author-infor.my-auto
              img.border.rounded-circle(src="images/user-avtar-resize.png" alt="User Ava" style="width: 20px")
            span.author-name.my-auto FCode
          div.text-right
            span.cmt-number
              i.fa.fa-comments  0

// mixin card-category(index,title,description)
//   //item1
//               #slide-item#{val}.container.slick-slide
//                 .slide-wrapper
//                   .img-header
//                     img.img-fluid.w-100(src="images/forum-img2.jpg" alt="Forum Image")
//                     .input-group
//                       button
//                         i.far.fa-comments
//                         span.topic-number 4
//                       button
//                         i.far.fa-heart
//                         span.like-number 4
//                   .article-section
//                     h4.forum-catogy = title
//                     p.forum-review.text-truncate(style="max-width: 100%")  = description  

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Welcome to Our Forums
    link(rel="stylesheet" href="css/home-navigation.css")
    link(rel="stylesheet" href="css/header.css")
    link(rel="stylesheet" href="css/join-our-forum.css")
    link(rel="stylesheet" href="css/footer.css")
    link(rel="stylesheet" type="text/css" href="slick-master/slick/slick.css")
    // Latest compiled and minified CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous")
    link(rel="stylesheet" href="css/forum.css")
    link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Andika" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet")
    // jQuery library
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    // Popper JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js")
    // Latest compiled JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js")
    
    script(src="js/login.js")
    //add slick libary
    script(src="slick-master/slick/slick.min.js")
  body(style="background-color: #FBEAFF;")
    // Navigation bar
    nav#navigation-p.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
      button.navbar-toggler(data-toggle="collapse" data-target="#collapse_target")
        span.navbar-toggler-icon.ml-auto
      #collapse_target.collapse.navbar-collapse
        ul.navbar-nav.justify-content-end.justify-content-center.w-100(style="font-size: 20px;")
          li.nav-item.px-2
            a.nav-link.text-center(href="index.html")
              | Home
          li.nav-item.px-2
            a.nav-link.text-center(href="index.html")
              | Introduction
          li.nav-item.px-2
            a.nav-link.text-center(href="index.html")
              | News
          li.nav-item.px-2
            a.nav-link.text-center(href="index.html")
              | Discussion
          li.nav-item.px-2
            a.nav-link.text-center(href="index.html")
              | Profile
          li.nav-item.px-2
            .input-group.py-1.w-100.text-center
              input.form-control.form-control-dark(type="text" placeholder="Search here..." aria-label="Search")
              .input-group-append
                button.btn.btn-outline-success(type="submit")
                  i.fa.fa-search
          li.nav-item.px-2
            a.nav-link.text-center(style="cursor: pointer;" onclick="showLogin()")
              | Log in 
              i.fas.fa-sign-in-alt
    // End of navigation bar
    // Carousel slide data
    .row.col-lg-12.d-flex.justify-content-center
      #loginPanel.row.col-lg-6(style="background: white; position: fixed; height: auto; z-index: 10; display: none")
        h1.display-4(align="center") Login
        hr
        #login
          table(width="100%")
            tr
              td
                font(style="color: #6B717E; font-size: 20px") Username or E-mail
              td
                input(type="text" size="30" style="height: 35px")
          table(width="163%")
            tr
              td
                font(style="color: #6B717E; font-size: 20px") Password
              td
                input(type="password" size="30" style="height: 35px")
          table
            tr
              td
                font(style="color: #6B717E; font-size: 20px") Connect with us:
            tr
              td
                a(href="https://www.facebook.com/fcodefpt/?fref=nf")
                  img(src="images/images_facebook.png" alt="" width="60px" height="60px")
        table(width="100%")
          tr
            td
              input(type="checkbox" name="" value="")
              font(style="color: #6B717E; font-size: 20px") Remember Me
            td(width="50px")
              input.btn.btn-primary(type="submit" value="Login" style="width: 70px, height=50px")
        hr
        br
        a(href="register.html") Register
    #carouselExampleControls.carousel.slide(data-ride="carousel" interval="5000")
      .carousel-inner(role="listbox")
        .carousel-item.active
          a(href="#")
            img.d-block.img-fluid(src="images/header-slide/header-slide01.jpg" alt="First slide" style="width: 100vw; height: 75vh;")
            .carousel-caption.d-none.d-md-block.h1.hot-news-caption-p
              p HOT NEWS HERE
        .carousel-item
          a(href="#")
            img.d-block.img-fluid(src="images/header-slide/header-slide02.jpg" alt="First slide" style="width: 100vw; height: 75vh;")
            .carousel-caption.d-none.d-md-block.h1.hot-news-caption-p
              p HOT NEWS HERE
      a.carousel-control-prev(href="#carouselExampleControls" role="button" data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#carouselExampleControls" role="button" data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next
    // End of carousel slide
    
    .body-wrapper
      .body-outner.mx-auto
        #body-inner
          #top-panel.row.justify-content-between
            //cell1
            .item-cell.col-lg-3.col-12#news-cell.d-flex.justify-content-between
              .thumb-icon.my-auto.text-center
                i.far.fa-newspaper
              .cell-content.text-right.my-auto
                p.article-cell.m-0.text-uppercase#news-article news
                p.number-of-cell.m-0.text-uppercase#number-news 18
            //cell2
            .item-cell.col-lg-3.col-12#topics-cell.d-flex.justify-content-between
              .thumb-icon.my-auto
                i.fas.fa-thumbtack
              .cell-content.text-right.my-auto
                p.article-cell.m-0.text-uppercase#topics-article topics
                p.number-of-cell.m-0.text-uppercase#number-topics 20
            //cell3
            .item-cell.col-lg-3.col-12#posts-cell.d-flex.justify-content-between
              .thumb-icon.my-auto
                i.fas.fa-bullhorn
              .cell-content.text-right.my-auto
                p.article-cell.m-0.text-uppercase#posts-article posts
                p.number-of-cell.m-0.text-uppercase#number-posts 9
          .panel-divider
            //middle
          #middle-panel.justify-content-start
            footer.d-flex.container-fluid.m-0.p-0.text-left.justify-content-between
                
                h4.main-title.text-uppercase join our forums
                div.control-btn.my-auto.d-flex
                  div
                    a(href="#").view-all-btn.m-0.text-uppercase.p-2 View all
                  div.btn-control-group
                    i.fas.fa-chevron-left#preAr.p-1
                    i.fas.fa-chevron-right#nextAr.p-1
            #middle-wrapper.container-fluid
              
              //item1
              #slide-item1.container.slick-slide
                .slide-wrapper
                  .img-header
                    img.img-fluid.w-100(src="images/forum-img2.jpg" alt="Forum Image")
                    .input-group
                      button
                        i.far.fa-comments
                        span.topic-number 4
                      button
                        i.far.fa-heart
                        span.like-number 4
                  .article-section
                    h4.forum-catogy Anouncemnet
                    p.forum-review.text-truncate(style="max-width: 100%")  This forum is a special forum for general
              //item2
              #slide-item2.container.slick-slide
                .slide-wrapper
                  .img-header
                    img.img-fluid.w-100(src="images/forum-img2.jpg" alt="Forum Image")
                    .input-group
                      button
                        i.far.fa-comments
                        span.topic-number 4
                      button
                        i.far.fa-heart
                        span.like-number 4
                  .article-section
                    h4.forum-catogy Food and Drinks
                    p.forum-review.text-truncate(style="max-width: 100%")  This forum is a special forum for general
              //item3
              #slide-item3.container.slick-slide
                .slide-wrapper
                  .img-header
                    img.img-fluid.w-100(src="images/forum-img2.jpg" alt="Forum Image")
                    .input-group
                      button
                        i.far.fa-comments
                        span.topic-number 4
                      button
                        i.far.fa-heart
                        span.like-number 4
                  .article-section
                    h4.forum-catogy Technology
                    p.forum-review.text-truncate(style="max-width: 100%")  This forum is a special forum for general
              //item3
              #slide-item3.container.slick-slide
                .slide-wrapper
                  .img-header
                    img.img-fluid.w-100(src="images/forum-img2.jpg" alt="Forum Image")
                    .input-group
                      button
                        i.far.fa-comments
                        span.topic-number 4
                      button
                        i.far.fa-heart
                        span.like-number 4
                  .article-section
                    h4.forum-catogy Technology
                    p.forum-review.text-truncate(style="max-width: 100%")  This forum is a special forum for general
                //item3
              #slide-item3.container.slick-slide
                .slide-wrapper
                  .img-header
                    img.img-fluid.w-100(src="images/forum-img2.jpg" alt="Forum Image")
                    .input-group
                      button
                        i.far.fa-comments
                        span.topic-number 4
                      button
                        i.far.fa-heart
                        span.like-number 4
                  .article-section
                    h4.forum-catogy Technology
                    p.forum-review.text-truncate(style="max-width: 100%")  This forum is a special forum for general
              //item3
              #slide-item3.container.slick-slide
                .slide-wrapper
                  .img-header
                    img.img-fluid.w-100(src="images/forum-img2.jpg" alt="Forum Image")
                    .input-group
                      button
                        i.far.fa-comments
                        span.topic-number 4
                      button
                        i.far.fa-heart
                        span.like-number 4
                  .article-section
                    h4.forum-catogy Technology
                    p.forum-review.text-truncate(style="max-width: 100%")  This forum is a special forum for general
              
          .panel-divider
          #bottom-panel
            div.main-title.text-uppercase.py-3
              h4 Lastest News
            #bottom-wrapper.row
              -for (var i=0;i<8;i++){
              +card(i)
              -}
            div.container-fluid.text-right
              a
                button.btn.text-uppercase View all


              
              


    nav.navbar.navbar-expand-lg.navbar-light.bg-light.bottom
      .container.footer-p
        //<div class="row">
        .d-flex.justify-content-start
          | © Copyright:
        .d-flex.justify-content-end
          a( href="https://www.facebook.com/fcodefpt/" target="_blank" )
            i.fab.fa-facebook-square.fb-icon-p
  script(src="js/slide.js")
            







    
